<div class="post-header">
  <h2>Create a post:</h2>
</div>

<form id="post-form">
  <label for="title">Title:</label>
  <input type="text" id="title">

  <textarea id="body" placeholder="Type your post here..."></textarea>

  <button type="submit">Create</button>
</form>
