
{{#each posts as |post|}}


  <section>
    <div>
      {{format_date post_date}}
    </div>
    <h2><a href="/post/{{id}}">{{title}}</a></h2>
  </section>


{{/each}}

<a href="/create-post">
  <button>+ New Post</button>
</a>