<div class="post-header">
  <h2>Edit post:</h2>
</div>

<form id="update-post-form">
  <input type="hidden" id="post-id" value="{{post.id}}">

  <label for="title">Title:</label>
  <input type="text" id="title" value="{{post.title}}">

  <textarea id="body" placeholder="Type your post here...">{{post.body}}</textarea>

  <button type="submit">Update Post</button>
</form>

<form id="delete-post-form">
  <button type="submit">Delete</button>
</form>
