
<h2>Login</h2>

<form class="form" id="login-form">
  <div>
    <label for="username">Username:</label>
    <input type="text" id="username" />
  </div>
  <div>
    <label for="password">password:</label>
    <input type="password" id="password" />
  </div>
  <div>
    <button type="submit">Login</button>
  </div>

  <a href="/signup">Signup instead</a>
</form>