
<h2>Signup</h2>

<form class="form signup-form">
  <div>
    <label for="name">User name:</label>
    <input type="text" id="name" />
  </div>
  <div>
    <label for="email">Email:</label>
    <input type="text" id="email" />
  </div>
  <div>
    <label for="password">Password:</label>
    <input type="password" id="password" />
  </div>
  <div>
    <button type="submit">Signup</button>
  </div>

  <a href="/login">Login instead</a>
</form>