
<h2>Signup</h2>

<form class="form" id="signup-form">
  <div>
    <label for="username">User name:</label>
    <input type="text" id="username" />
  </div>
  <div>
    <label for="password">Password:</label>
    <input type="password" id="password" />
  </div>
  <div>
    <button type="submit">Signup</button>
  </div>

  <a href="/login">Login instead</a>
</form>